/* Police du site */
@font-face {
  /* Définition d'une nouvelle police nommée Raleway */
  font-family: "Raleway";
  src: url("font\raleway\Raleway-Italic-VariableFont_wght") format("ttf");
  src: url("font\raleway\Raleway-VariableFont_wght") format("ttf");
}

* /* Utilisation de la police qu'on vient de définir sur l'ensemble du site*/ {
  font-family: "Raleway", Arial, serif;
  margin: 0px;
  padding: 0px;
}

main {
  width: 70%;
  margin: auto;
}
body {
  margin: 0px;
  padding: 0px;
}

img {
  object-fit: cover;
}

a {
  color: black;
}
/* entête du site */

header {
  display: flex;
  width: 70%;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 30px;
}

.menu1 {
  display: flex;

  text-align: right;
}
.logo {
  width: 20%;
  display: flex;
  justify-content: flex-end;
  margin-top: 50px;
  margin-bottom: -95px;
}
.sinscrire {
  display: flex;
}
.sinscrire a {
  color: #0065fc;
  font-weight: bold;
}
.sinscrire a {
  padding: 40px 30px 0px 30px;
  border-top: 2px transparent solid;
}
.sinscrire a:hover {
  border-top: 2px #0065fc solid;
}
.menunav {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.menunav li {
  display: inline;

  font-weight: bold;
  padding: 40px 30px 0px 30px;
}
.menu a {
  color: black;
}
.menu1 li {
  border-top: 2px transparent solid;
}
.menu1 li:hover {
  border-top: 2px #0065fc solid;
}
.menu1 li:hover a {
  color: #0065fc;
}
.menu1 a:hover {
  color: #0065fc;
}
li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
a:link {
  text-decoration-line: none;
}

/* texte intro */
#entete {
  margin-top: 50px;
}
#entete p {
  font-size: 14px;
  margin-top: 5px;
}
#entete h1 {
  font-size: 19px;
}
.pintro {
  font-weight: bold;
}

/*bouton recherche*/
::placeholder {
  color: black;
  font-weight: bold;
  font-size: 15px;
  opacity: 1; /* Firefox */
}
.recherche {
  margin-bottom: 30px;
}
.search-icon {
  padding: 15px 20px 15px 20px;
  background-color: #f4f0ef;
  border-radius: 10px 0 0 10px;
}
.search {
  padding: 15px;
  border: #f4f0ef solid 1px;
  margin-left: -5px;
  width: 200px;
}
.bouton {
  padding: 16px;
  border: none;
  background-color: #0065fc;
  color: white;
  border-radius: 0 10px 10px 0;
  margin-left: -5px;
}
.boutonrecherche {
  display: none;
}

/* filtres */

.filtres p {
  font-weight: bold;
  padding-right: 20px;
}

.filtres {
  display: flex;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 20px;
}
.filtres li {
  display: inline;
}
.iconfilter {
  padding: 12px;
  background-color: #deebff;
  border-radius: 30px 30px 30px 30px;
  color: #0065fc;
  margin: -3px 10px 0 -30px;
}
.filter {
  border: 2px solid #f4f0ef;

  border-radius: 0px 20px 20px 0px;
  margin-left: 10px;
  padding: 8px;
  margin-right: 30px;
  transition: 0.3s;
}
.filter a {
  color: black;
}
.filter:hover {
  background-color: #0065fc;
  color: white;
}

/* texte info */
.info {
  display: flex;
  margin-top: 30px;
}
.info p {
  padding-top: 3px;
}

.iconinfo {
  width: 5px;
  height: 15px;
  color: #0065fc;
  background-color: white;
  border-radius: 60%;
  border: 1px lightgray solid;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 7px;
  padding-right: 7px;
  margin-right: 10px;

  font-size: 12px;
}

/* vignettes des hotels */

.greystar {
  color: #f2f2f2;
}
.stars {
  color: #0065fc;
}
.main-card {
  display: flex;
  margin-top: 30px;
  margin-bottom: 100px;
  width: 100%;
}
#card-left {
  width: 70%;
  background-color: #f2f2f2;
  padding: 40px;
  border-radius: 10px;
}
.card-intro h3 {
  margin-bottom: 20px;
}

.card-rigth {
  width: 30%;
  background-color: #f2f2f2;
  padding: 40px;
  margin-left: 2%;
  border-radius: 10px;
}
.card-right-intro {
  display: flex;
  justify-content: space-between;
}
.row {
  display: flex;
}
.card-item a {
  color: black;
  display: block;
  width: 100%;
  height: 100%;
}
.card-item {
  width: 31%;

  margin: 10px 1% 10px 1%;
  background-color: white;
  border-radius: 20px;
  padding: 5px;
  box-shadow: 0 0px 5px rgba(41, 30, 30, 0.3), 0 5px 5px rgba(0, 0, 0, 0.22);
}
.card-img img {
  width: 100%;
  height: 100%;
  border-radius: 20px 20px 0 0;
}
.card-img {
  height: 120px;
}
.card-text {
  padding: 10px;
}
.card-text p {
  padding-top: 10px;
  font-size: 12px;
}

.card-text2 p {
  padding-top: 10px;
}
#card-left h4 {
  font-size: 14px;
  margin-bottom: -5px;
  margin-top: -3px;
}

.card-item2 {
  display: flex;
  width: 95%;
  height: 130px;
  background-color: white;
  padding: 5px;

  border-radius: 20px;

  flex-direction: row;
  margin-top: 25px;
  box-shadow: 0 0px 5px rgba(0, 0, 0, 0.3), 0 5px 5px rgba(0, 0, 0, 0.22);
}
.card-item2 a {
  color: black;
}
.card-img2 {
  width: 50%;
  height: 100%;
  padding-right: 10px;
}
.card-img2 img {
  width: 100%;
  height: 100%;
  border-radius: 20px 0px 0 20px;
}
.card-text2 {
  margin-top: 5px;
}
.card-text2 p {
  font-size: 12px;
}
.card-text2 h4 {
  font-size: 14px;
  margin-bottom: 0px;
  margin-top: 0px;
}
.more {
  margin-top: 30px;
  margin-left: 10px;
}
.more a {
  color: black;
}
/* Activités à Marseille */
.bottom-card {
  display: flex;
  width: 100%;
  margin-top: 10px;
}
.bottom-card h4 {
  padding-top: 10px;
}
.card-big {
  width: 25%;
  height: 400px;
  border-radius: 20px;
  padding: 0px;
  margin: 0px 20px 0px 0px;
  box-shadow: 0 0px 5px rgba(0, 0, 0, 0.3), 0 5px 5px rgba(0, 0, 0, 0.22);
}
.card-big img {
  width: 100%;
  height: 350px;
  border-radius: 20px 20px 0 0;
}
.column1 {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
  width: 25%;
}
.column2 {
  display: flex;
  flex-direction: column;
  width: 25%;
  justify-content: space-between;
}
.card-small1 {
  width: 100%;
  height: 200px;

  border-radius: 20px;
  box-shadow: 0 0px 5px rgba(0, 0, 0, 0.3), 0 5px 5px rgba(0, 0, 0, 0.22);
}
.card-small1 img {
  width: 100%;
  height: 150px;
  border-radius: 20px 20px 0px 0px;
}
.card-small2 {
  width: 100%;
  height: 160px;
  margin-top: 40px;
  border-radius: 20px;
  box-shadow: 0 0px 5px rgba(0, 0, 0, 0.3), 0 5px 5px rgba(0, 0, 0, 0.22);
}
.card-small2 img {
  width: 100%;
  height: 110px;
  border-radius: 20px 20px 0px 0px;
}
.card-small3 {
  width: 100%;
  height: 180px;

  box-shadow: 0 0px 5px rgba(0, 0, 0, 0.3), 0 5px 5px rgba(0, 0, 0, 0.22);
  border-radius: 20px;
}
.card-small3 img {
  width: 100%;
  height: 130px;
  border-radius: 20px 20px 0px 0px;
}
.bottom-card h4 {
  margin-left: 10px;
  margin-bottom: 20px;
}
.row3 {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

/* footer */
footer {
  width: 100%;
}
.main-card-footer {
  background-color: #f2f2f2;
  display: flex;
  margin-top: 40px;
}
.rowfooter {
  display: flex;
  margin-top: 40px;
  margin-bottom: 20px;
  width: 100%;

  justify-content: space-around;
}
.card-footer nav {
  margin-right: 200px;
}

/* Responsive design*/
@media screen and (max-width: 699px) {
  body {
    width: 100%;
  }
  main {
    width: 100%;
  }
  /* header */
  header {
    width: 100%;
    margin: 0;
    padding: 0;
  }

  #entete {
    width: 95%;
  }
  .logo {
    justify-content: flex-start;
    margin-bottom: -65px;
    margin-top: 20px;
    margin-left: 20px;
  }
  .menunav li {
    padding: 0px 0px 0px 0px;
    margin-left: 0;
    margin-bottom: 40px;
    margin-top: 40px;
    border-bottom: 2px lightgray solid;
  }
  .menunav {
    display: flex;
    width: 100%;

    flex-direction: column-reverse;
    margin-left: 0px;
  }
  .menu1 {
    width: 100%;
    text-align: center;
  }
  .menu {
    width: 50%;
  }
  .sinscrire {
    width: auto;
    justify-content: flex-end;
    padding-top: 10px;
  }
  .sinscrire a {
    padding-top: 25px;
  }
  .menunav li:hover {
    border-bottom: 2px #0065fc solid;
  }
  .menunav li {
    padding-bottom: 15px;
    border-top: none;
  }
  .menunav li:hover {
    border-top: none;
  }
  /* texte intro */

  .pintro {
    font-size: 100px;
  }
  #entete p {
    text-align: center;
    font-size: 18px;
  }
  #entete h1 {
    text-align: center;
    width: 100%;
    font-size: 25px;
  }

  /*texte info */
  .info {
    width: 80%;
    margin-left: 20px;
  }

  /*bouton recherche*/
  form {
    width: 100%;
  }
  .form-group {
    width: 100%;
    text-align: center;
  }
  .search {
    width: 60%;
  }
  .rechercher {
    display: none;
  }
  .boutonrecherche {
    display: initial;
  }
  .bouton {
    margin-left: -20px;
    border-radius: 10px;
  }
  /* Filtres */
  .filtres {
    display: flex;
    flex-wrap: wrap;
  }
  .filtres ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 20px;
    margin-left: 40px;
  }
  .filter {
    margin-top: 10px;
  }
  .filtres p {
    padding-left: 15px;
  }
  /* main cards*/
  .main-card {
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
  }
  #container-bottom-card h3 {
    padding-left: 15px;
  }
  #card-left {
    width: 110%;
    margin-top: 20px;
    background-color: white;
  }
  .card-intro {
    padding-left: 15px;
  }
  .card-right-intro {
    margin: 20px 10px 20px 0px;
  }
  .card-right-intro h3 {
    padding-left: 15px;
  }

  .card-item {
    width: 85%;
    margin-left: 6%;
  }
  .card-big {
    width: 90%;
    margin-top: 30px;
    margin-left: 6%;
    height: 180px;
  }
  .card-small1 {
    width: 90%;
    height: 50px;
    margin-left: 6%;
  }
  /* populaires card */
  .card-rigth {
    width: 100%;
    padding: 0;
    margin: 0;
    border-radius: 0;
    padding-bottom: 20px;
  }
  .colum {
    width: 100%;
  }
  .card-item2 {
    width: 90%;
    margin: 10px;
  }
  .card-img2 img {
    width: 100%;
  }
  /* hebergements marseille card */
  .card-rigth {
    padding-top: 20px;
  }
  #card-left {
    width: 100%;
    padding: 0px;
    flex-direction: column;
    padding-top: 20px;
  }

  /* activités à marseille */
  .row {
    display: flex;
    flex-direction: column;
  }
  .bottom-card {
    width: 95%;
    margin-left: 7px;
  }
  .bottom-card img {
    height: 130px;
  }
  .card-small3 {
    margin-top: 40px;
  }

  .card-small1 {
    margin-top: 20px;
    height: 180px;
  }
  .card-small1 img {
    height: 130px;
  }
  .card-small1-img {
    height: 130px;
  }

  .card-small1 {
    height: 85%;
  }
  .card-small1 img {
    width: 100%;
    height: 85%;
  }
  .column1 {
    width: 100%;
  }
  .column2 {
    width: 100%;
  }
  .card-small3 {
    width: 90%;
    margin-left: 6%;
    height: 100%;
  }
  .card-small2 {
    width: 90%;
    margin-left: 6%;
    height: 85%;
  }

  /* footer */
  .main-card-footer {
    margin-top: 40px;
  }
  .rowfooter {
    display: flex;
    flex-direction: column;
  }
  .card-footer {
    padding: 20px;
  }
  .card-footer li {
    padding: 5px;
  }
}
@media screen and (min-width: 700px) and (max-width: 1366px) {
  main {
    width: 90%;
  }

  /* header */
  #entete {
    text-align: center;
    margin-top: 100px;
  }
  header {
    width: 90%;
  }
  /* recherche */
  .recherche {
    text-align: center;
  }
  /* Filtres */
  .filtres {
    display: flex;
    margin-left: 50px;
  }
  .filtres ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 20px;
    margin-left: 40px;
  }
  .filter {
    margin-top: 10px;
  }

  .info {
    margin-left: 50px;
  }
  /* mains cards */
  .main-card {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .card-rigth {
    width: 90%;
    margin-left: 35px;
    margin-top: 50px;
  }
  #card-left {
    width: 90%;
    margin-top: 20px;
    margin-left: 35px;
  }
}
