.container {
  width: 60%;
  margin: auto;
}

header {
  display: flex;
}

.logo {
  width: 60%;
}
.nav {
  width: 40%;
}
li {
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-left: 20px;
}

a:link {
  text-decoration: none;
}
.conainter2 {
  width: 70%;
}

footer {
  display: flex;
}

.apropos {
  width: 33%;
}
.noshebergements {
  width: 33%;
}
.assistance {
  width: 33%;
}
