

header {
  display: flex;
  justify-content: space-between;
}
footer {
  display: flex;
  justify-content: space-around;
  align-items: baseline;
}
.menu {
  display: flex;
  list-style: none;
  color: #0065fc;
}




.apropos {
  display: flex;
  align-items: baseline;
}
.noshebergements {
  display: flex;
  align-items: center;
}

.assistance {
  display: flex;
  align-items: flex-end;
}

.p1 {
  font-size: 20px;
  font-weight: bold;
}

main {
  @font-face {
    font-family: "Raleway";
    src: url("Raleway-Italic-VariableFont_wght") format("ttf"),
      url("Raleway-VariableFont_wght") format("ttf");
}